* {
    padding: 0;
    margin: 0;

}

p {
    line-height: 1.9;
}

img.floattest {
    width: 340px;
    float: right;
}

p.center {
    text-align: center;
}

p.boxmodeltest {
    display: block;
    font-size: 24px;
    background-color: aqua;
    margin: 20px;
    padding: 20px;
    border: 3px solid #000;

}

p.content-box {
    box-sizing: content-box;
    display: block;
    font-size: 24px;
    background-color: rgb(0, 255, 72);
    text-align: center;
    width: 400px;
    margin: 20px auto;
    border: 13px solid #000;
}

p.border-box {
    box-sizing: border-box;
    display: block;
    font-size: 24px;
    background-color: rgb(0, 255, 72);
    text-align: center;
    width: 400px;
    margin: 20px auto;
    border: 13px solid #000;
}

div.linkmake a {
    display: block;
    width: 200px;
    margin: 40px auto;
    padding: 1em;
    text-align: center;
}

@media screen and (min-width: 300px) {
    a:hover {
        opacity: 0.7;
        /*不透明度を0.7にできる*/
    }
}

a.text-link {
    color: #008000;
    text-decoration: underline;
}

a.button-link {
    background-color: #ffd700;
    text-decoration: none;
    color: #ff4500;
    font-size: 20px;
}

a.button-link2 {
    background-color: #1e90ff;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    /*角丸にできちゃう*/
    border-bottom: 4px solid #191970;
}

a.button-link2:active {
    border-bottom: none;
    transform: translateY(4px);
}

ul.hosiimo {
    border: 10px solid #aae5e7;
    padding: 1em 1em 0;
    list-style: none;
    margin-bottom: 60px;
}

ul.hosiimo li {
    border-bottom: 4px dotted #6baeb3;
    margin-bottom: 1em;
}

ul.hosiimo li::before {
    content: "☆彡";
    margin-right: 4px;
    vertical-align: middle;
}

nav {
    box-sizing: border-box;
}

ul.gnav-list-1 {
    background-color: #1b9aaa;
    padding: 0;
    text-align: center;
}

ul.gnav-list-1 li {
    display: inline-block;
}

ul.gnav-list-1 li a {
    display: block;
    padding: 1em;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

ul.gnav-list-1 li a::first-line {
    font-size: 16px;
    font-weight: bold;
}

ul.gnav-list-1 li a:hover {
    background-color: #14727e;
}

section.flex-test {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 40px auto 0;
    border: 1px dashed #ccc;
    text-align: center;
}

section.flex-test h2 {
    margin-bottom: 1em;
}

/*dlタグ内の設定をしてく*/
.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-item {
    background-color: #09b;
    color: #fff;
    padding: 1em;
    flex-basis: 25%;
}

.flex-item dt {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

/*モバイル用のflexbox設定*/
@media screen and (max-width:500px) {
    section.flex-test h2 {
        font-size: 1.1em;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-item {
        margin: 0 1em 1em;
    }
}

.haikei .bg-001 {
    height: 800px;
    background: url(imgtest.jpg) left center repeat;
}

section.haikei div {
    background: url(imgtest.jpg) right bottom no-repeat;
    border: 1px dashed #000;
}

.haikei .px {
    background-size: 150px 50px;
    width: 400px;
    height: 400px;
}

.haikei .per {
    display: block;
    background-size: 50% 50%;
    width: 400px;
    height: 400px;
}

.haikei .cover {
    background-size: cover;
    width: 400px;
    height: 400px;
}

.haikei .contain {
    background-size: contain;
    width: 400px;
    height: 400px;
}

section.positiontest {
    background: #1b9aaa;
    width: 400px;
    height: 400px;
    margin-bottom: 160px;
}

.positiontest img {
    width: 400px;
    height: 400px;
    position: relative;
    top: 60px;
    left: 100px;
}

.aboutme {
    box-sizing: border-box;
    background-color: #E2D0BC;
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    height: 600px;
    position: relative;
}

.aboutme img {
    display: block;
    width: 800px;
    max-width: 100%;
}

.text-box {
    font-family: "游明朝";
    width: 600px;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 320px;
    left: 0px;

}

.aboutme h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;

}

.img-box {
    width: 70%;
    margin-left: 30%;
}

@media screen and (max-width: 600px) {
    section.aboutme {
        width: 100%;
        height: 600px;

    }

    .text-box {
        width: 90%;
        top: 45vw;
        left: 0;

    }

    h2 {
        font-size: 1.3em;
        margin-bottom: 0.5em;
    }

    .img-box {
        width: 100%;
        margin-left: 0;
    }
}

h1 {
    font-size: 1.5em;
    color: #1b9aaa;
    text-align: center;
    margin: 40px 0 20px;
}

form {
    width: 90%;
    max-width: 800px;
    margin: 0 auto 40px;
    background: #fff;
    padding: 40px 0;
}

dl {
    margin: 0 auto;
    width: 500px;
}

.form-item {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

dt {
    width: 200px;
}

dd {
    width: 300px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    display: block;
    width: 100%;
    font-size: 16px;
}

.form-submit {
    text-align: center;
}

@media screen and (max-width:768px) {
    form {
        padding: 20px 0;
    }

    dl {
        width: 90%;
    }

    .form-item {
        display: block;
    }

    dt {
        width: 100%;
    }

    dd {
        width: 100%;
    }
}

dt,
dd,
select,
input,
textarea {
    color: #666;
}

dt::before {
    content: "◆";
    color: #1b9aaa;
    padding-right: 6px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    border: 1px solid #ccc;
    background: #fff;
    padding: 0.3em;
}

select {
    height: 2em;
}

.label-radio {
    margin-right: 2em;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

textarea {
    min-height: 100px;
}

input[type="submit"] {
    background: #1b9aaa;
    width: 200px;
    padding: 0.5em;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

@media screen and (min-width:769px) {
    input[type="submit"]:hover {
        background: #147581;
    }
}

@media screen and (max-width:768px) {
    dt {
        margin-bottom: 10px;
    }

    input[type="submit"] {
        padding: 1em;
    }
}

.width{
    width: 100px;
    height: 100px;
    padding: 1em;
    margin: 2em 2em 4em;
    background-color: #000;
    color: #fff;
    font-size: 18px;

    transition: width 0.3s ease-out 0s;
}

.width:hover{
    width: 400px;
}